rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId || isAdmin();
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
    }

    match /components/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if isAdmin();
    }

    match /orders/{doc} {
      allow read: if request.auth.uid == resource.data.userId || isAdmin();
      allow create: if isAuthenticated();
      allow update: if isAdmin();
    }

    match /chats/{chatId} {
      allow read, write: if isAuthenticated();
      match /messages/{msg} {
        allow read, write: if isAuthenticated();
      }
    }

    match /discounts/{doc} {
      allow read: if isAuthenticated();
      allow create, update, delete: if isAdmin();
    }
  }
}
